/*****variables barber****/
// colors
$white: #FFF;
$somkyblack:#0c0910;
$isabelline:#ECECEC;
$granite-Gray:#646266;
$light-gray: #D1D1D1;
$quick-silver:#A6A5A8;

// fonts
$raleway: 'Raleway', sans-serif;
$raleway-regular: 400;
$raleway-bold: 700;

$oldstandard:'Old Standard TT', serif;
$oldstandard-regular: 400;
$oldstandard-bold: 700;

$font-size-xxx-large:50px;
$font-size-xx-large:30px;
$font-size-x-large:20px;
$font-size-large:18px;
$font-size-medium:16px;
$font-size-small:14px;
$font-size-x-small:12px;


// laptop breakpoints
$min-laptop: 992px;
