
.titulo {
  font-family:$oldstandard;
  font-size:$font-size-xxx-large;
  font-style: $oldstandard-bold;
  padding-left: 70px;
  padding-top: 100px;
}


.titulo2 {
  font-family:$oldstandard;
  font-size:$font-size-large;
  font-style: $oldstandard-bold;
  padding-bottom: 10px;
}
